/* mid green: #0fa000 */
/* dark green: #006600 */
/* light green: #67cb33 */

/* General
------------------------------------------*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'proxima_nova_rg',helvetica,arial,sans-serif;
}


.container {
	overflow: hidden;
}

img {
}

.clear_50 {
	display: block;
	clear: both;
	width: 100%;
	height: 50px;
}


/* Typography
------------------------------------------*/


.thin {
	font-family: 'proxima_nova_lt',helvetica,arial,sans-serif;
	text-transform: none;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima_nova_extrabold',helvetica,arial,sans-serif;
	text-transform: uppercase;
}

a {
	color: #0fa000;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

p a:hover {
	text-decoration: underline;
}

p {
	font-size: 1em;
	line-height: 1.7em;
}

.center {
	text-align: center;
}

.headline {
	margin-bottom: 50px;
}


/* UX/UI Elements
------------------------------------------*/

.button {
	font-family: 'proxima_nova_bold',helvetica,arial,sans-serif;
	text-transform: uppercase;
	color:#fff;
	-webkit-text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	-moz-text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 15px 35px;
	font-size: 1em;
	letter-spacing: 0.04em;
	text-align: center;
	display: inline-block;
}

.button.dark_green {background:#006600;}
.button.mid_green {background:#0fa000;}
.button.light_green {background:#67cb33;}

.button.dark_green:hover {background:#006600;}
.button.mid_green:hover {background:#67cb33;}
.button.light_green:hover {background:#0fa000;}

.button_group {
	display: inline-block;
}

.button.fullwidth {
	width: 100%;
	display: block;
	padding-left: 0;
	padding-right: 0;
}


/* form elements */

input[type="submit"] {
-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/* Symbol Search Bar */

.home #symbol_search {
	margin: -36px auto 50px;
}

#symbol_search {
	margin: 50px auto;
	border: 1px solid #e1e1e1;
	max-width: 996px;
	width: 100%;
	padding: 5px 0;
	border-radius: 6px;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

#symbol_search .container {
}

#symbol_search .platforms {
	padding: 0 7px;
	margin: 0;
}

#symbol_search .platforms li {
    list-style: none;
    display: inline-block;
    margin-right: 22px;
}

#symbol_search .platforms li:last-child {
	margin-right:0;
}

#symbol_search form {
	overflow: hidden;
	float: right;
	margin: 5px 0 0;
	width: 100%;
}

#symbol_search input[type="search"] {
	font-family: 'proxima_nova_lt',helvetica,arial,sans-serif;
	outline: none;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	font-size: 1.5em;
	font-weight: 300;
	padding: 10px;
	color: #999;
	float: left;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	width: 69.96%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
}

#symbol_search input[type="submit"].button {
	border: none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	float: left;
	padding:15px;
}

.esignal, .vision, .ninja {background: url("../images/platforms.png") no-repeat transparent; position: relative;}

.esignal {background-position: 0 0; width: 80px; height: 36px;}
.vision {background-position: -106px 0; width: 133px; height: 36px; top:-5px;}
.ninja {background-position: -269px 0; width: 192px; height: 50px; top:10px;}


/* Global Header
------------------------------------------*/

.color_strip {
	background: url("../images/color_strip.jpg") repeat-x center top;
	height: 5px;
	width: 100%;	
}

.logo {
	 background: url("../images/logo400_web.png") no-repeat center 0 transparent;
	 max-width: 300px;
	 height: 115px;
	 background-size: 100%;
	 margin-top: 24px;
}

.showRightPush {
	display: none;
}


nav#main_nav {
	width: 100%;
	background: #67cb33;
	display: inline-block;
}

nav#main_nav ul {
	padding: 0;
	margin: 0;
}

nav#main_nav ul li.current {
	background: #0fa000;
	border-right: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}

nav#main_nav ul li {
	border-right: 1px solid #67cb33;
	border-left: 1px solid #67cb33;
	display: inline-block;
	line-height: 1em;
	float: left;
}

nav#main_nav ul li a {
	font-family: 'proxima_nova_bold',helvetica,arial,sans-serif;
	-webkit-text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	-moz-text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
	padding: 19px 15px 14px;
	display: inline-block;
	letter-spacing: 0.04em;
}

nav#main_nav ul li a:hover {
	background: #0fa000;
}

.responsive_menu {display: none;}

.responsive_menu .menu_label {
	font-family: 'proxima_nova_bold',helvetica,arial,sans-serif;
	-webkit-text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	-moz-text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	text-shadow:1px 1px 2px rgba(0,0,0,0.4);
	text-transform: uppercase;
	color:#fff;
	float: left;
	font-size: 1.4em;
line-height: 1.3em;
	margin-right: 15px;
}


/* right */

.contact_header {
	margin-top: 24px;
}

.contact_header ul {
	list-style: none;	
	text-align: right;
}

.social_buttons {
	margin-bottom: 0;
}

.social_buttons li {
	width: 35px;
	display: inline-block;
	list-style: none;
}

.social_buttons li a {
	font-size: 2.2em;
	text-decoration: none;
	color:#006600;
}

.social_buttons li a:hover {
	color:#0fa000;
}

/* Intro & Page Title
------------------------------------------*/

#intro {
	background: url("../images/debut_light.png") repeat center top;
	padding: 60px 0 90px;
	border-bottom: 1px solid #e1e1e1;
}

#intro .button {
	float: left;
}

#intro .button_group a:first-child {
	margin-right: 20px;
}

#intro h1 {
	font-size: 2.5em;
}

#page_title {
	background: url("../images/debut_light.png") repeat center top;
	padding: 10px 0;
	border-bottom: 1px solid #e1e1e1;
}

#cta_container {
	padding-top: 20px;
	text-align: right;
}

#cta_container h5 {
	margin: 17px 0 0 20px;
	float: left;
}

#cta_container a {
	float: right;
}



/* Page Structure
------------------------------------------*/

section {
	overflow: hidden;
}

.pagination {
	padding: 0;
}

.pagination li {
	display: inline-block;
}

#breadcrumbs ul {
	margin: 0;
	padding: 0;
}

#breadcrumbs ul li {
	display:inline-block;
	list-style: none;
}

/* About Page
------------------------------------------*/

#main {
	padding: 50px 0 0;
}

.note {
	background: url("../images/note.png") no-repeat center top transparent;
	width: 221px;
	height: 57px;
	margin-bottom: 20px;
}

.about_photo img {
	overflow: hidden;
	border: 1px solid #e1e1e1 !important;
	background: #ffffff;
	padding: 5px;
}

/* Resources Page
------------------------------------------*/

.resource {
	display: inline-block;
}

#bottom_row {
	margin-top: 50px;
}

#top_row img, #bottom_row img {
	overflow: hidden;
	float: left;
	width: 120px;
	margin: 22px 12px 10px 0;
}

#top_row h4, #bottom_row h4 {
	margin-bottom: 10px;
}

#top_row p, #bottom_row p {
	margin: 0;
}

#top_row .button, #bottom_row .button {
	margin-top: 15px;
}


#top_row {
	margin-top: 50px;
}

/* Case Study Page
------------------------------------------*/

.case_cover {
	background: url("../images/download_bg.png") no-repeat center center #000000;
	margin-bottom: 20px;
	background-position: center -20px;
}

.case_cover img{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
}

.case_cover img:hover {
	cursor: pointer;
	zoom: 1;
	filter: alpha(opacity=15);
	opacity: 0.15;
}

/* Blog Page
------------------------------------------*/


.blog {
	
}

.entry_title {
	
}

.entry_title a {
	color:#000;
}

.entry_title a:hover {
	color:#0fa000;
}

.blog .featured_image {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
}

.blog .meta_data {
	font-style: italic;
	font-size: 0.8em;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	list-style: none;
	padding: 0;
}

.blog .meta_data li {
	display: inline-block;
	margin: 0;
	padding: 2px 10px;
}

.blog .meta_data li a:hover {
	text-decoration: underline;
}

.blog .excerpt {}

/* Sidebar
------------------------------------------*/

#sidebar {
}

.widget {margin-bottom: 50px;}

.widget_title { text-align: center; border-bottom: 1px solid #e1e1e1;line-height: 2em; margin-top: 0;}

.categories {padding: 0;}
.categories li {list-style: none; padding: 10px 0; border-bottom: 1px dashed #e1e1e1;}
.categories li a:hover {text-decoration: underline;}

.categories li .post_number {
	font-weight: bold;
	color:#fff;
	background: #0fa000;
	-webkit-border-radius: 600px;
	-moz-border-radius: 600px;
	border-radius: 600px;
	float: right;
	width: 20px;
	height:20px;
	text-align: center;
	padding-top: 4px;
	font-size: 0.6em;
}

/* Contact Form
------------------------------------------*/

#gmap iframe {
	width: 100%;
}

.form_container {
}

#contact_form {
	border: none;
	background: #ffffff;
}

#contact_form input[type="text"] {
	font-family: 'proxima_nova_lt',helvetica,arial,sans-serif;
	outline: none;
	border: 1px solid #e1e1e1;
	font-size: 1em;
	font-weight: 300;
	padding: 10px;
	color: #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#contact_form input[type="text"]:focus, #contact_form textarea:focus {
	border: 1px solid #67cb33;
}

#contact_form textarea {
	font-family: 'proxima_nova_lt',helvetica,arial,sans-serif;
	outline: none;
	border: 1px solid #e1e1e1;
	font-size: 1em;
	font-weight: 300;
	padding: 10px;
	color: #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	height: 200px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
	resize: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#contact_form input[type="submit"].button {
	border: none;
	outline: none;
}

.contact_info {
	padding: 0;
	text-align: left;
	list-style: none;
}

.contact_info li {
	margin-bottom: 20px;
}

.contact_info li a:hover {
	text-decoration: underline;
}

.contact_info i {
	text-align: center;
	width: 30px;
	float: left;
	height: 30px;
	-webkit-border-radius: 600px;
	-moz-border-radius: 600px;
	border-radius: 600px;
	background:#006600;
	display: inline-block;
	margin-bottom: 15px;
	color:#ffffff;;
	margin: 0 10px 10px 0;
	padding-top: 6px;
}

/* Footer
------------------------------------------*/

footer {
background:url("../images/debut_dark.png") repeat center 0 #000000;
color: #fff;
margin-top: 50px;
}

#footer_nav {text-align: right;}
#footer_nav a {color:#fff;padding: 0 5px; font-size: 0.8em;}


/* Responsive Code
------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 995px) {

/* Home
------------------------------------------*/

	/* Above the fold */
	#intro .button_group a:first-child {margin-right: 18px;}
	
	/* Symbol Search */
	#symbol_search {border-radius: 0;}
	#symbol_search input[type="search"] {width: 61.5%;}
	#symbol_search .platforms li {margin-right: 2px;}

/* Pages
------------------------------------------*/

	/* header */
	#cta_container h5 { width: 200px; margin-top: 10px; text-align: left;}
	
	
/* Resources Pages
------------------------------------------*/
	#top_row img, #bottom_row img {
		width: 100%;
	}

}

@media only screen and (max-width: 767px) {

/* Home
------------------------------------------*/

	/* Above the fold/Intro */
	#intro .button_group a:first-child {margin-right: 0; margin-bottom: 20px}
	#intro .button_group a.button {width: 100%;}
	#intro .grid_5 {display: none;}
	
	/* Symbol Search */
	#symbol_search {border-radius: 0;}
	#symbol_search .platforms li {margin-right: 2px;}
	#symbol_search .platforms {display: none;}
	#symbol_search input[type="search"] {width:68.9%;}
	#symbol_search .grid_5 {padding: 0;}
	

/* Pages
------------------------------------------*/
	/* header */
	.responsive_menu {
		display: inline-block;
		margin: 15px 0;
		float: right;
	}
	
	.responsive_menu #showRightPush {
		float: left;
	}
	nav#main_nav ul { display: none; }
	
	#page_title h1 {text-align: center;}
	#cta_container {text-align: center;}
	#cta_container h5 {text-align: center; margin: 10px auto; float: none;}
	#cta_container a {float:none;}
	#cta_container {text-align: center; padding: 0 0 20px;}
	.logo {text-align: center; margin:24px auto 0;}
	.contact_header ul {padding: 0; text-align: center;}
	
	/* Symbol Search */
	#symbol_search input[type="search"] {width:55%;}
	
	/* footer */
	footer {text-align: center;}
	
/* Resources Pages
------------------------------------------*/
	#top_row img, #bottom_row img {
		width: 100%;
	}
	
}

@media only screen and (max-width: 479px) {
}